@media (max-width: 768px) {
    section {
    width: 100%;
    }
   }
   section {
    transition: transform 0.3s ease;
   }
 




header {
    display: block;
    unicode-bidi: isolate;
}
.banner {
    background-color: lightgrey;
    text-align: center;
    color: black;
    padding: 30px 20px;
}

h2{
    text-align: center;
}
h3{
    text-align: center;
}
ul {
    text-align: center;
    padding: 30px 100px;
}


.secondary-video video {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

video {
    object-fit: contain;
    overflow: clip;
}
.secondary-video {
    text-align: center;
    padding: 40px 20px;
    background: white;
}


button {
    background: maroon;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    
}
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;

}
.btn{
    padding: 10px 20px;
    margin-top: 10px;
}
#button-section {
    text-align: center;
}

.change-bg {
background-color: #e1dfdf;
display: block;
}



.image-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px 80px;
}
    
.image-container img{
    width: 50%;
}

footer {
        text-align: center;
        padding: 20px;
        background: #333;
        color: white;
        display: block;
        unicode-bidi: isolate;
}
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
}
.reveiw{
    display: grid;
    grid-template-areas: 
    "reveiw reveiw"
    "pros cons";
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;

}
.pros{
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: darkgreen;
    color: white;
}
.cons{
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: darkred;
    color: white;
}
.nav-bar {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1000; /* so that your nav bar is always on top */
    /* Additional styling */
    }